.about {
  margin-top: -13px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url("../img/about-bg.svg");
  background-position: top left 40.7%;
  background-repeat: no-repeat;

  &__title {
    margin: 0;
    padding-top: 25px;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-right: 12px;
    gap: 30px;
  }

  &__text {
    padding-top: 70px;
    grid-column: 2 / span 5;

    p {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 48px;
      }
    }
  }

  &__image {
    margin-left: auto;
    grid-column: 8 / span 5;
  }
}
