.btn {
  border-radius: 20px;
  padding: 17px 25px 16px;
  min-width: 256px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--light-color);
  background: linear-gradient(90deg, #ba9bff 0%, #e18dff 100%);
}
