.nav {
  margin-right: 69px;

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: var(--black-color);
  }
}
