.nav {
  margin-right: 72px;

  &__list {
    display: flex;
  }

  &__item {
    @include mr(44px);
  }

  &__link {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: var(--black-color);
  }
}
