<header class="header">
  <div class="container-fluid header__container">
    <nav class="nav" title="header menu">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#" class="nav__link">Услуги</a></li>
        <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Портфолио</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
      </ul>
    </nav>
    <a href="tel:+380633333333" class="phone">+38 (063) 333 33 33</a>
  </div>
</header>
