<section class="test">
  <div class="container-fluid">
    <h2 class="test__title section-title">
      Познакомимся ближе?
    </h2>
    <p class="test__desc">
      Мы хотим лучше выявить вашу потребность, поэтому предлагаю пройти маленький интерактивный тест
    </p>
    <ul class="list-reset test__list">
      <li class="test__item">
        <picture>
          <source srcset="img/ai-artificial.avif" type="image/avif">
          <source srcset="img/ai-artificial.webp" type="image/webp">
          <img loading="lazy" src="img/ai-artificial.png" class="test__image" width="500" height="532" alt="AI - Artificial intelligence">
        </picture>
        <h3 class="test__item-title">
          AI - Artificial intelligence
        </h3>
        <div class="test__item-desc desc">
          <ul class="list-reset desc__list">
            <li class="desc__item">
              Постановка целей и задач сайта;
            </li>
            <li class="desc__item">
              Создание, проработка технического задания (ТЗ) на разработку сайта;
            </li>
            <li class="desc__item">
              Прототипирование;
            </li>
            <li class="desc__item">
              Создание макета дизайна сайта;
            </li>
          </ul>
          <ul class="list-reset desc__list">
            <li class="desc__item">
              Верстка;
            </li>
            <li class="desc__item">
              Программирование;
            </li>
            <li class="desc__item">
              Наполнение контентом;
            </li>
            <li class="desc__item">
              Тестирование;
            </li>
            <li class="desc__item">
              Сдача проекта клиенту.
            </li>
          </ul>
        </div>
      </li>
      <li class="test__item">
        <picture>
          <source srcset="img/web-platform.avif" type="image/avif">
          <source srcset="img/web-platform.webp" type="image/webp">
          <img loading="lazy" src="img/web-platform.png" class="test__image" width="388" height="350" alt="web platform">
        </picture>
        <h3 class="test__item-wrap">
          <a href="#" class="test__item-link">
            Web Platform
          </a>
        </h3>
      </li>
      <li class="test__item">
        <picture>
          <source srcset="img/mobile-app.avif" type="image/avif">
          <source srcset="img/mobile-app.webp" type="image/webp">
          <img loading="lazy" src="img/mobile-app.png" class="test__image" width="347" height="358" alt="mobile app">
        </picture>
        <h3 class="test__item-wrap">
          <a href="#" class="test__item-link">
            Mobile app
          </a>
        </h3>
      </li>
      <li class="test__item test__item-business">
        <picture>
          <source srcset="img/bi-business.avif" type="image/avif">
          <source srcset="img/bi-business.webp" type="image/webp">
          <img loading="lazy" src="img/bi-business.png" class="test__image" width="" height="" alt="bi business">
        </picture>
        <div class="test__item-business-inner">
          <h3 class="test__item-title">
            BI - Business Intelligence
          </h3>
          <div class="test__item-desc desc">
            <ul class="list-reset desc__list">
              <li class="desc__item">
                Верстка;
              </li>
              <li class="desc__item">
                Программирование;
              </li>
              <li class="desc__item">
                Наполнение контентом;
              </li>
              <li class="desc__item">
                Тестирование;
              </li>
              <li class="desc__item">
                Сдача готового проекта клиенту.
              </li>
            </ul>
            <ul class="list-reset desc__list">
              <li class="desc__item">
                Верстка;
              </li>
              <li class="desc__item">
                Программирование;
              </li>
              <li class="desc__item">
                Наполнение контентом;
              </li>
              <li class="desc__item">
                Тестирование;
              </li>
              <li class="desc__item">
                Сдача готового проекта клиенту.
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="test__item">
        <picture>
          <source srcset="img/just-design.avif" type="image/avif">
          <source srcset="img/just-design.webp" type="image/webp">
          <img loading="lazy" src="img/just-design.png" class="test__image" width="340" height="366" alt="just design">
        </picture>
        <h3 class="test__item-wrap">
          <a href="#" class="test__item-link">
            Just design
          </a>
        </h3>
      </li>
      <li class="test__item">
        <picture>
          <source srcset="img/web-site.avif" type="image/avif">
          <source srcset="img/web-site.webp" type="image/webp">
          <img loading="lazy" src="img/web-site.png" class="test__image" width="366" height="357" alt="web-site">
        </picture>
        <h3 class="test__item-wrap">
          <a href="#" class="test__item-link">
            Web site
          </a>
        </h3>
      </li>
      <li class="test__item">
        <picture>
          <source srcset="img/mobile-game.avif" type="image/avif">
          <source srcset="img/mobile-game.webp" type="image/webp">
          <img loading="lazy" src="img/mobile-game.png" class="test__image" width="211" height="359" alt="mobile game">
        </picture>
        <h3 class="test__item-wrap">
          <a href="#" class="test__item-link">
            Mobile Game
          </a>
        </h3>
      </li>
    </ul>
  </div>
</section>
