// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/btn";
@import "./components/header";
@import "./components/nav";
@import "./components/phone";
@import "./components/hero";
@import "./components/test";
@import "./components/about";
